@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(221, 216, 244);
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
}

.container2 {
  background-color: aliceblue;
  margin: auto;
  width: 60%;
  min-height: 40vh;
  margin-top: 4rem;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: left;
  transition: 0.3s ease;
}

.container3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
}

.input-box {
  flex: 1;
  height: 2.5rem;
  background-color: rgb(218, 217, 227);
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
  font-size: 1rem;
}

.input-box:focus {
  outline: none;
  border: none;
}

.input-box::placeholder {
  font-size: 1.2rem;
}

.btn {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  width: 2.5rem;
}

.task-list {
  margin-top: 2.1rem;
}

.task-list label {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.heading {
  color: rgb(97, 43, 206);
}

.para {
  margin-top: 1.3rem;
  font-size: 1.2rem;
  color: rgb(113, 107, 107);
}



@media (max-width: 1200px) {
  .container2 {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .container2 {
    width: 80%;
    padding: 1.2rem;
  }

  .input-box {
    height: 2.4rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .container2 {
    width: 92%;
    margin-top: 2.5rem;
  }

  .input-box {
    height: 2.3rem;
    font-size: 0.95rem;
  }

  .input-box::placeholder {
    font-size: 1rem;
  }

  .btn {
    height: 2.3rem;
    width: 2.3rem;
  }

  .para {
    font-size: 1.05rem;
  }
}

@media (max-width: 576px) {
  .container2 {
    width: 100%;
    padding: 1rem;
  }

  .heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .container3 {
    flex-direction: column;
    gap: 0.8rem;
    align-items: stretch;
  }

  .btn {
    width: 100%;
  }

  .input-box {
    width: 100%;
    height: 2.2rem;
    font-size: 0.9rem;
  }

  .input-box::placeholder {
    font-size: 0.95rem;
  }

  .task-list label {
    font-size: 0.9rem;
  }
}
